<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escáner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='ua-parser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/escaner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/os.js') }}"></script>
</head>

<body style="height:50vh;">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ml-3" href="/">Kiosco App</a>
        </div>
    </nav>
    <!-- ENDNAVBAR -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">Bienvenido al escáner</h4>
                    <p>Este es un escáner de dispositivos que se conectan a la red. Aquí podrás ver la información de
                        los
                        dispositivos que se conectan a la red.</p>
                    <hr>
                    <p class="mb-0">Recuerda que esta información es sensible y no debe ser compartida con personas
                        ajenas a la red.</p>
                    <div class="col-md-7">
                        <!-- TABLE -->
                        <h1 style="color: rgb(241, 240, 234);">DATOS</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col">Descripcion</td>
                                    <td scope="col">Dato</td>
                                    <td scope="col">Operacion</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Su versión de navegador</td>
                                    <td><span id="navegador_actual"></span><br />
                                    <td>
                                        <a class="btn btn-info" href="https://en.wikipedia.org/wiki/Template:Google_Chrome_release_compatibility">Mas informacion</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Su versión de Sistema Operativo</td>
                                    <td><span id="os_actual"></span><br /></td>
                                    <td>
                                        <a class="btn btn-info" href="https://hipertextual.com/2022/03/navegadores-ligeros-ordenadores-viejos">Mas informacion</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Usuarios activos en su red:</td>
                                    <td><span id="usuarios_activos"></span><br /></td>
                                    <td>
                                        <a class="btn btn-info" href="/">Actualizar</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Detector de Malware:</td>
                                    <td><span id="malware_activo">Cargando...</span><br /></td>
                                    <td>
                                        <a class="btn btn-info" href="https://github.com/ppfeufer/adguard-filter-list">Conocer mas</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ENDTABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const ua = new UAParser();
        const dataClients = ua.getBrowser().withClientHints().then(function (browser) {
            getNavegadorActual(browser['name'], browser['major']);
        });
        const dataServer = ua.getOS().withClientHints().then(function (browser) {
            getOSActual(browser['name'], browser['version']);
        });
        
    </script>
</body>

</html>